body {
    margin: 0;
    background: #f1f3f6;
    font-family: Arial, sans-serif;
}

/* background dim */
.overlay {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main card */
.card {
    width: 750px;
    height: 420px;
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    overflow: hidden;
}

/* LEFT SIDE */
.left {
    width: 40%;
    background: #2874f0;
    color: white;
    text-align: center;
    padding-top: 90px;
}

.left img {
    width: 120px;
}

.left h2 {
    margin: 15px 0 5px;
}

.left p {
    font-size: 14px;
}

/* RIGHT SIDE */
.right {
    width: 60%;
    padding: 40px;
    position: relative;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.right h3 {
    margin-bottom: 5px;
}

.sub {
    font-size: 13px;
    color: gray;
    margin-bottom: 25px;
}

/* input section */
label {
    font-size: 13px;
    color: gray;
}

input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin-bottom: 20px;
}

.password-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-row a {
    font-size: 12px;
    color: #2874f0;
    text-decoration: none;
}

/* buttons */
.login-btn {
    width: 100%;
    padding: 12px;
    background: #2874f0;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
}

.signup-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #2874f0;
    color: #2874f0;
    background: white;
    border-radius: 25px;
    cursor: pointer;
}

/* bottom text */
.note {
    font-size: 11px;
    color: gray;
    margin-top: 20px;
}

.note a {
    color: #2874f0;
    text-decoration: none;
}